<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.binodthapachhetry">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/about_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".tictactoe.MainActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/tictactoe6_AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".tictactoe.GameActivity"
            android:parentActivityName=".tictactoe.MainActivity"
            android:theme="@style/tictactoe6_AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tictactoe.MainActivity" />
        </activity>
        <activity
            android:name=".Dictionary.DictionaryActivity"
            android:label="@string/title_activity_dictionary"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".Scraggle.ScraggleMainActivity"
            android:label="@string/title_activity_scraggle_main"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.binodthapachhetry.MainActivity" />
        </activity>
        <activity
            android:name=".Scraggle.ScraggleGameActivity"
            android:label="@string/title_activity_scraggle_game"
            android:parentActivityName=".Scraggle.ScraggleMainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.binodthapachhetry.Scraggle.ScraggleMainActivity" />
        </activity>
        <activity
            android:name=".Scraggle.ScraggleGameRules"
            android:label="@string/title_activity_scraggle_game_rules"
            android:parentActivityName=".Scraggle.ScraggleGameActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.binodthapachhetry.Scraggle.ScraggleGameActivity" />
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Communication.CommunicationMain"
            android:label="@string/title_activity_communication_scraggle_home"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.binodthapachhetry.MainActivity" />
        </activity>

        <receiver
            android:name=".Communication.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="edu.neu.madcourse.binodthapachhetry" />
            </intent-filter>
        </receiver>

        <service android:name=".Communication.GcmIntentService" />

        <activity
            android:name=".Communication.CommunicationScraggleGameActivity"
            android:label="@string/title_activity_scraggle_game"
            android:parentActivityName=".Communication.CommunicationMain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.binodthapachhetry.Communication.CommunicationMain" />
        </activity>
        <activity
            android:name=".Communication.CommunicationScraggleGameRules"
            android:label="@string/title_activity_scraggle_game_rules"
            android:parentActivityName=".Communication.CommunicationScraggleGameActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.binodthapachhetry.Communication.CommunicationScraggleGameActivity" />
        </activity>
        <activity
            android:name=".TwoPlayerGame.TwoPlayerGameScraggleMainActivity"
            android:label="@string/title_activity_scraggle_main"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.binodthapachhetry.MainActivity" />
        </activity>
        <activity
            android:name=".TwoPlayerGame.TwoPlayerGameStart"
            android:label="@string/title_activity_TwoPlayerGame_scraggle_home"
            android:parentActivityName=".TwoPlayerGame.TwoPlayerGameScraggleMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.binodthapachhetry.TwoPlayerGame.TwoPlayerGameScraggleMainActivity" />
        </activity>
        <activity
            android:name=".TwoPlayerGame.TwoPlayerGameRegisterUser"
            android:label="@string/title_activity_two_player_game_register_user"
            android:parentActivityName=".TwoPlayerGame.TwoPlayerGameStart"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.binodthapachhetry.TwoPlayerGame.TwoPlayerGameStart" />
        </activity>
        <activity
            android:name=".TwoPlayerGame.TwoPlayerGameReturningUser"
            android:label="@string/title_activity_two_player_game_returning_user"
            android:parentActivityName=".TwoPlayerGame.TwoPlayerGameStart"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.binodthapachhetry.TwoPlayerGame.TwoPlayerGameStart" />
        </activity>

        <receiver
            android:name=".TwoPlayerGame.TwoPlayerGameGcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="edu.neu.madcourse.binodthapachhetry" />
            </intent-filter>
        </receiver>

        <service android:name=".TwoPlayerGame.TwoPlayerGameGcmIntentService" />
        <service android:name=".TwoPlayerGame.TrackingService" />

        <activity
            android:name=".TwoPlayerGame.TwoPlayerGameScraggleGameActivity"
            android:label="@string/title_activity_scraggle_main"
            android:parentActivityName=".TwoPlayerGame.TwoPlayerGameReturningUser"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.binodthapachhetry.TwoPlayerGame.TwoPlayerGameReturningUser" />
        </activity>
        <activity
            android:name=".TwoPlayerGame.TwoPlayerGameScraggleGameRules"
            android:label="@string/title_activity_scraggle_game_rules"
            android:parentActivityName=".TwoPlayerGame.TwoPlayerGameScraggleGameActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.binodthapachhetry.TwoPlayerGame.TwoPlayerGameScraggleGameActivity" />
        </activity>
        <activity
            android:name=".FindingAstro.FindingAstroMain"
            android:label="@string/title_activity_finding_astro_main"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.binodthapachhetry.MainActivity" />
        </activity>
        <activity
            android:name=".FindingAstro.FindingAstroAccelerometer"
            android:parentActivityName=".FindingAstro.FindingAstroMain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.binodthapachhetry.FindingAstro.FindingAstroMain" />
        </activity>
        <activity
            android:name=".FindingAstro.skyview_activity"
            android:label="@string/title_activity_finding_astro_skyview"
            android:parentActivityName=".FindingAstro.FindingAstroMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.binodthapachhetry.FindingAstro.FindingAstroMain" />
        </activity>

        <activity
            android:name=".FindingAstro.RotationVector"
            android:label="@string/title_activity_finding_astro_rotation_vector"
            android:theme="@style/AppTheme.NoActionBar" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.binodthapachhetry.FindingAstro.FindingAstroMain" />
        </activity>

        <activity
            android:name=".FindingAstro.Rules"
            android:label="@string/title_activity_rules"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.binodthapachhetry.FindingAstro.FindingAstroMain" />

    </activity>
    </application>

</manifest>
